# <%- data.tocPosition %> <%- data.id %> - <%- data.name %>


<% if (data.status) { %>
### Status

<%- data.status %>
<% } %>


<% if (data.lastUpdated) { %>
### Last Update

<%- data.lastUpdated %>
<% } %>


<% if (data.subjectArea) { %>
### Subject Area

<%- data.subjectArea %>
<% } %>


<% if (data.topic) { %>
### Topic

<%- data.topic %>
<% } %>


<% if (data.problemStatement) { %>
### Issue or Problem Statement

<%- data.problemStatement %>
<% } %>


<% if (data.assumptions) { %>
### Assumptions

<%- data.assumptions %>
<% } %>


<% if (data.motivation) { %>
### Motivation

<%- data.motivation %>
<% } %>


<% if (data.notes) { %>
### Notes

<%- data.notes %>
<% } %>


<% if (data.alternatives.length > 0) { %>
<%# 
[Expand all](#){ .md-button .diff-line }

[Collapse all](#){ .md-button .collapse-line }
%>

### Alternatives

    <% data.alternatives.forEach(function(al){ %>

<details markdown=1>
<summary markdown="span"><%- al.name %></summary>

<table>
    <caption></caption>
    <tr>
        <td> <strong>Name</strong> </td>
        <td><%- al.name %></td>
    </tr>
    <tr>
        <td> <strong>Description</strong> </td>
        <td><%- al.description %></td>
    </tr>
    <tr>
        <td> <strong>Best Applied</strong> </td>
        <td><%- al.bestApplied %></td>
    </tr>
    <tr>
        <td> <strong>Contraindications</strong> </td>
        <td><%- al.contraindications %></td>
    </tr>
</table>


</details>


    <% }); %>
<% } %>


<% if (data.decision) { %>
### Decision

<%- data.decision %>
<% } %>


<% if (data.justification) { %>
### Justification

<%- data.justification %>
<% } %>


<% if (data.implications) { %>
### Implications

<%- data.implications %>
<% } %>


<% if (data.derivedRequirements) { %>
### Derived Requirements

<%- data.derivedRequirements %>
<% } %>


<% if (data.relatedDecisions) { %>
### Related Decisions

<%- data.relatedDecisions %>
<% } %>