---
tags:
    - LDM
---

# <%- data.tocPosition %> <%- data.name %>


![<%- data.name %>](<%- "URL_" + data._id + ".svg" %>)


<% if (data.description) { %>
### Description

<%- data.description %>
<% } %>



<% if (data.reference && data.reference.length > 0) { %>
### Reference(s)

    <% data.reference.forEach(reference => { %>
        <% if (reference.name && reference.url) { %>
[<%- reference.name %>](<%- reference.url %>)
        <% } else { %>
[<%- reference.url %>](<%- reference.url %>)
         <% } %>
    <% }) %>
<% } %>


<% if (data.entities.length > 0 || data.relationships.length > 0 || data.specializations.length > 0) { %>
## Element(s)


<% if (data.entities.length > 0) { %>
### Entity(ies)
| Name | Description | Attribute Name | Attribute Type  |
| --- | --- | --- | --- |
<% data.entities.forEach(function(ele){ %> | <%- ele.name %> | <%- ele.description.replace(/>(https?[^<]*)<\/a>/g, '>`$1`</a>') %> |  <% if (ele.attributes) { %><% ele.attributes.forEach(gg=> { %><%- gg.name %><br><% })  %><% } %> | <% if (ele.attributes) { %><% ele.attributes.forEach(gg=> { %><%- gg.type %><br><% }) %><% } %> |
<% }); %>
<% } %>



<% if (data.relationships.length > 0) { %>
### Relationships
| Name | Description | Attribute Name | Attribute Type  | Connections & Multiplicity |
| --- | --- | --- | --- | --- |
<% data.relationships.forEach(function(ele){ %> | <%- ele.name %> | <%- ele.description.replace(/>(https?[^<]*)<\/a>/g, '>`$1`</a>') %> | <% if (ele.attributes) { %><% ele.attributes.forEach(gg=> { %><%- gg.name %><br><% }) %><% } %> | <% if (ele.attributes) { %><% ele.attributes.forEach(gg=> { %><%- gg.type %><br><% }) %><% } %> |<% if (ele.relationshipConnections) { %><% ele.relationshipConnections.forEach(gg=> { %><% if (gg.name == "*" && gg.type == "*") { %>\<%- gg.name %>,[\<%- gg.type %>]<br><%- gg.connectedEntity.name %><br><% } %><% if (gg.name != "*" && gg.type != "*") { %><%- gg.name %>,[<%- gg.type %>]<br><%- gg.connectedEntity.name %><br><% } %><% if (gg.name == "*" && gg.type != "*") { %>\<%- gg.name %>,[<%- gg.type %>]<br><%- gg.connectedEntity.name %><br><% } %><% if (gg.name != "*" && gg.type == "*") { %><%- gg.name %>,[\<%- gg.type %>]<br><%- gg.connectedEntity.name %><br><% } %><% }) %> |
<% } %><% }); %>
<% } %>

<% if (data.specializations.length > 0) { %>
### Specializations
| Name | Description | Attribute Name | Attribute Type  | ISA Parent | ISA Children |
| --- | --- | --- | --- | --- | --- |
<% data.specializations.forEach(function(ele){ %> | <%- ele.name %> | <%- ele.description.replace(/>(https?[^<]*)<\/a>/g, '>`$1`</a>') %> | <% if (ele.attributes) { %><% ele.attributes.forEach(gg=> { %><%- gg.name %><br><% }) %><% } %> | <% if (ele.attributes) { %><% ele.attributes.forEach(gg=> { %><%- gg.type %><br><% }) %><% } %> | <% if (ele.specializationConnections) { %><% ele.specializationConnections.forEach(gg=> { %><% if (gg.type == "parent") { %><%- gg.connectedEntity.name%><% } %> <%}) %><% } %> | <% if (ele.specializationConnections) { %><% ele.specializationConnections.forEach(gg=> { %><% if (gg.type == "child") { %><%- gg.connectedEntity.name%><% } %><%}) %><% } %> |
<% }); %>
<% } %>

<% } %>
